<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <h2 class="col-sm-offset-3 col-sm-6">Login</h2>
    </div <div class="row">
    <div class="col-sm-offset-1 col-sm-2">
    </div>
    <div class="col-sm-6">
        <form action="r" method="post" accept-charset="utf-8" class="form" role="form">
            <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email" />
            <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password" />
            <br />
            <br />

            <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Login</button>
        </form>
    </div>
</div>
</div>