<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row">
        <h2 class="col-sm-offset-3 col-sm-6">Signup</h2>
         
    </div <div class="row">
    <div class="col-sm-offset-1 col-sm-2">
    </div>
    <div class="col-sm-6">
        <br />
          <br />
        <form action="/register" method="post" accept-charset="utf-8" class="form" role="form">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <input type="text" name="username" value="" class="form-control input-lg" placeholder="User Name" />
                </div>
                
            </div>
             <br />
            <input type="text" name="email" value="" class="form-control input-lg" placeholder="Your Email" />
             <br />
            <input type="password" name="password" value="" class="form-control input-lg" placeholder="Password" />
           
            <br />
            <br />

            <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">Create my account</button>
        </form>
         <br />
        <br />
        <br />
    </div>
</div>
</div>