<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">

    <!-- for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-ico" />
    <title> Pizza </title>
    
    <link rel='stylesheet' href='stylesheets/settings.css' type='text/css' />
    <link rel='stylesheet' href='./public/stylesheets/animsition.css' type='text/css' />
    <link rel='stylesheet' href='./stylesheets/font-awesome.css' type='text/css' />
    <link rel='stylesheet' href='./stylesheets/simple-line-icons.css' type='text/css' media='all' />
    <link rel='stylesheet' href='./stylesheets/pe-icon-7-stroke.css' type='text/css' media='all' />
    <link rel='stylesheet' href='./stylesheets/flaticon.css' type='text/css' media='all' />
    <link rel='stylesheet' href='./stylesheets/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' href='./stylesheets/jquery.easy-pie-chart.css' type='text/css' media='all' />
    <link rel='stylesheet' href='./stylesheets/owl.transitions.css' type='text/css' media='all' />
    <link rel='stylesheet' href='./stylesheets/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='./stylesheets/media.css' type='text/css' media='all' />
    <link rel='stylesheet' href='./stylesheets/custom_script.css' type='text/css' media='all' />

    

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Merriweather%3A%2C400%7CPatua+One%3A400&amp;ver=1.0.0' type='text/css' media='all' />
    <link href="http://fonts.googleapis.com/css?family=Patua+One:400" rel="stylesheet" property="stylesheet" type="text/css" media="all">


</head>
